<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.developer.iron_man.gpsmain">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <!-- Required to show current location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-feature android:name="android.hardware.location.gps"></uses-feature>
    <uses-feature android:name="android.hardware.location.network"></uses-feature>
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true">

        <activity android:name=".Activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CompleteProfileActivity"/>
        <activity android:name=".Activities.AboutUsActivity"></activity>
        <activity android:name=".Activities.PrivacyPolicyActivity"></activity>
        <activity android:name=".Activities.RegisterActivity"></activity>
        <activity android:name=".Activities.MainActivity"></activity>
        <activity android:name=".Activities.SignUpActivity"></activity>
        <activity android:name=".Activities.NotificationActivity"></activity>
        <activity android:name=".Activities.DriverActivity"></activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAGu1BuYfX3ZYQ5fqb2IZ7eMhdYS6cwAaE" />

        <service android:name=".Services.LocationService"></service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>